<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Delicious Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/icofont.min.css" rel="stylesheet">
        <link href="~/Content/boxicons.min.css" rel="stylesheet">
        <link href="~/Content/animate.min.css" rel="stylesheet">
        <link href="~/Content/venobox.css" rel="stylesheet">
        <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Delicious - v2.2.1
    * Template URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html"><span>Delicious</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#menu">Cardápio</a></li>
                    <li class="book-a-table text-center"><a href="#place-your-order">Faça seu pedido</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background: url(Assets/img/slide-1.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span>Delicious</span> Restaurant</h2>
                                <p class="animate__animated animate__fadeInUp">Nosso delicioso restaurante possui opções de pratos para todas as refeições do dia. Sinta-se convidado a saborear nossas refeições.</p>
                                <div>
                                    <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Cardápio</a>
                                    <a href="#place-your-order" class="btn-book animate__animated animate__fadeInUp scrollto">Faça seu pedido</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->
    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
        <div class="container">

            <div class="section-title">
                <h2>Nosso <span>Cardápio</span></h2>
            </div>

            <div class="row menu-container">

                <div class="col-lg-6">
                    <div class="col-lg-6">
                        <h3>Opções da manhã</h3>
                    </div>

                    <div class="col-lg-6 menu-item">
                        <div class="menu-content">
                            <a href="#">1 (Entrada) - Ovos</a><span>$5.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Ovos fritos ou mexidos
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item">
                        <div class="menu-content">
                            <a href="#">2 (Prato principal) - Torradas</a><span>$6.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Torradas integrais ou não
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item">
                        <div class="menu-content">
                            <a href="#">3 (Bebida) - Café à vontade</a><span>$7.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Nossos clientes têm direito ao café da casa à vontade
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-6">
                        <h5>*Nas refeições da manhã não servimos sobremesa</h5>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="col-lg-6">
                        <h3>Opções da noite</h3>
                    </div>

                    <div class="col-lg-6 menu-item">
                        <div class="menu-content">
                            <a href="#">1 (Entrada) - Bife</a><span>$8.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Bife ao ponto ou bem passado
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item">
                        <div class="menu-content">
                            <a href="#">2 (Prato principal) - Batatas à vontade</a><span>$9.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Fritas á vontade. Coma o quanto puder
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item">
                        <div class="menu-content">
                            <a href="#">3 (Bebida) - Vinho</a><span>$10.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Vinho tinto ou branco
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item">
                        <div class="menu-content">
                            <a href="#">4 (Sobremesa) - Bolo</a><span>$11.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Bolo de chocolate ou fubá
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Menu Section -->
    <div>
        @RenderBody()
    </div>
</body>
</html>
